<h1 class="mb-4">Log In</h1>

<%= form_with url: session_path, local: true do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :email %>
    </div>

<!--value: params[:email] нужен для того, чтобы пользователь при неправильном вводе формы не должен был вводить емейл заново-->
    <div class="col-sm-10">
      <%= f.email_field :email, placeholder: 'E-mail', value: params[:email], class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :password %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :password, class: 'form-control form-control-lg' %>
    </div>
  </div>

  <%= f.submit "Sign In!", class: 'btn btn-outline-primary btn-lg mb-4' %>
<% end %>
