<h1> Passing the <%= @test_passage.test.title %> Test </h1>

<% if @test_passage.time_is_set? %>
  <div id="timer">
    <h2>Time left: </h2>
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Hours</th>
          <th>Minutes</th>
          <th>Seconds</th>
        </tr>
      </thead>
      <tbody>
        <%= time_parser %>
      </tbody>
    </table>
  </div>
<% end %>

<h3>
  <%= @test_passage.current_question.title %>
</h3>

<div class="mb-2" id="question-counter">
  <p class="fst-italic"> Current question: <%= @test_passage.current_question_number %> of
    <%= @test_passage.test.questions.count %></p>
</div>

<div id="myProgress" class="mb-4">
  <div id="myBar">

  </div>
</div>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |f| %>
  <%= f.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :content, include_hidden: false do |b| %>
    <div class="mb-3 row justify-content-center align-items-center">
      <div class="col-sm-1">
        <%= b.check_box id: "answer_ids_#{b.object.id}", class: 'form-check-input' %>
      </div>

      <div class="col-sm-11 col-form-label fw-bold ">
        <%= b.label %>
      </div>
    </div>
  <% end %>

  <div class="btn-group mb-4" role="group" aria-label="Basic example">
    <%= f.submit 'Next', class: 'btn btn-outline-primary btn-md', id: 'submit-button' %>
    <%= link_to 'Create gist', test_passage_gists_path(@test_passage),
                class: 'btn btn-outline-secondary btn-md', method: :post%>
  </div>
<% end %>
