<%= render 'shared/errors', object: @test %>

<%= form_with model: @test do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :title %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :level %>
    </div>

    <div class="col-sm-10">
      <%= f.number_field :level, value: 1, min: 1, class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :category_id %>
    </div>

    <div class="col-sm-10">
      <%= f.select :category_id, Category.all.pluck(:title, :id), {}, class: 'form-select form-select-md' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :author_id %>
    </div>

    <div class="col-sm-10">
      <%= f.select :author_id, User.all.pluck(:login, :id), {}, class: 'form-select form-select-md' %>
    </div>
  </div>


  <%= f.submit "Submit", class: 'btn btn-outline-primary btn-md mb-4' %>
<% end %>
