<div class="card text-black bg-light m-1 mb-4 d-inline-block" style="max-width: 20rem;">
  <div class="card-header"> <%= test.category.title %> </div>
  <div class="card-body">
    <h4 class="card-title"><%= test.title %></h4>
    <p class="card-text">Level: <%= test.level %></p>
    <p class="card-text">Number of questions: <%= test.questions.count %></p>
    <p class="card-text">Author: <%= test.author.name %></p>
  </div>

  <div class="card-footer">
    <%= link_to 'Start test', start_test_path(test), class: 'btn btn-outline-success btn-md', data: {method: :post}%>
  </div>
</div>
